<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Land Plots</title>
     <link rel="shortcut icon" type="image/png" href="img/favicon.png">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="myapp" ng-controller="ListController">
    <div class="page page-table">
        <section class="panel panel-default table-dynamic">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="LBL_FINANCICAL_RECEIPT_CREATION_HEADER"></span> </strong></div>
            <div class="panel-body">
                <section class="receipt">
                    <div>
                        <ul class="nav nav-pills tabs">
                            <li class="btn">
                                <a href="delivery_terms.html"> <span data-translate="LBL_DELIVERY_TERMS"> DELIVERY TERMS</span></a>
                            </li>
                            <li class="btn">
                                <a href="index.html"> <span data-translate="LBL_LAND_PLOTS">MAIN</span></a>
                            </li>
                            <li class="btn btn-primary">
                                <span data-translate="LBL_PLEDGE_SUBJECT">SUBJECT</span>
                            </li>
                        </ul>
                    </div>
                    <hr />
    <div class="container">
        <div class="row" ng-hide="!personalDetails.length">
            <div class="col-md-12">
                <table class=" table  table-striped  table-hover" > 
                    <thead>
                        <tr class="active">
                            <th></th>
                            <th></th>
                           <th class="text-center text-primary">Кадастровий номер</th>
                                    <th class="text-center text-primary">Область, район</th>
                                    <th class="text-center text-primary">Документ</th>
                                    <th class="text-center text-primary">ЗК</th>
                                    <th class="text-center text-primary">З</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr class=" text-center text-primary">
                                    <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                                    <td><span class="glyphicon glyphicon-new-window"></span></td>
                                    <td>1234756557:12:32:3432</td>
                                    <td>Миколаївська обл, Арбузинський р-н</td>
                                    <td class="edited_text">Свідоцтво про право власності № 123345345</td>
                                    <td> <input type="checkbox" name=""></td>
                                    <td>0</td>
                                </tr>
                        
                         <tr class="text-center text-primary">
                                    <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                                    <td><span class="glyphicon glyphicon-new-window"></span></td>
                                    <td>1234756557:12:32:3432</td>
                                    <td>Миколаївська обл, Арбузинський р-н</td>
                                    <td class="edited_text">Свідоцтво про право власності № 123345345</td>
                                    <td>  <input  type="checkbox" value="" disabled></td>
                                    <td type="number">0</td>
                                </tr>
                    
                        <tr ng-repeat="personalDetail in personalDetails" >
                        <td class="text-center text-primary"></td>
                        <td class="text-center text-primary"></td>
                            <td class="text-center text-primary">{{personalDetail.number}}</td>
                            <td class="text-center text-primary">{{personalDetail.reg}}, {{personalDetail.district}}, {{personalDetail.settlement}} </td>
                            <td class="text-center text-primary edited_text">{{personalDetail.doc}}</td>
                              
                             <td class="text-center text-primary">
                                <input type="checkbox" ng-model="personalDetail.selected"/></td> 
                                  <td class="text-center text-primary">
                                      {{$index + 1}}
                                 </td>
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </div>
            <div class="container">
                            <form role="form" class="col-md-8 col-md-offset-2" ng-submit="addNew(personalDetails)" >
                                <div class="form-group">
                                    <div class="row">
                                         <div class="col-md-6 text-right text-primary">
                                            <label for="input">Кадастровий номер ділянки*  </label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" id="input" class="form-control" type="text" placeholder="------" ng-model="personalDetails.number">

                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-primary">Шукати</button>

                                        </div>
                                    </div>
                                    <br>
                       
                          <div class="form-group input-group">
                                        <div class="row">
                                            <div class="col-md-6 text-right text-primary">
                                                <label for="document">Документ, що посвідчує право власності/користування ділянкою* </label>
                                            </div>
                                            <div class="col-md-6">
                                                <textarea id="document" class="form-control" rows="2" cols="50" ng-model="personalDetails.doc"></textarea>

                                            </div>
                                        </div>
                                    </div>

                             <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 text-right text-primary">
                                                <label for="sel1">Область*</label>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" id="sel1" ng-model="personalDetails.reg" >
                                <option>Львівська обл</option>
                                <option>Вінницька обл</option>
                                <option>Волинська обл</option>
                                <option>Закарпатська обл</option>
                              </select>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 text-right text-primary">
                                                <label for="sel2">Район*</label>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" id="sel2" ng-model="personalDetails.district">
                                <option>Стрийський р-н</option>
                                <option>Тростянецкий  р-н</option>
                                <option>Володимир-Волинський  р-н</option>
                                <option>Берегівський  р-н</option>
                              </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 text-right text-primary">
                                                <label for="sel3">Населений пункт(якщо ділянка в межах населеного пункту*</label>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" id="sel3" ng-model="personalDetails.settlement">
                                <option>Станків</option>
                                <option>Слобітка</option>
                                <option>Фалиш</option>
                                <option>Моршин</option>
                              </select>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-1 col-md-offset-11 clearfix">
                            
                               <input type="submit" value="Додати ділянку" class="btn btn-primary">
                            </div>
                            </div>
                            </div>
                            
                        </form>
                        </div>
                        </div>
                        <div>
                            <a href="delivery_terms.html" class="btn btn-default" data-translate="LBL_CLOSE">prev</a>
                            <a class="btn btn-default pull-right " data-translate="LBL_NEXT">next</a>
                         </div>
                </section>
                </div>
        </section>
        </div>
         <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
